<!DOCTYPE html>
<html>
  <head>
    <title>Madlib story</title>
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <h1>Your madlib:</h1>
      <p>Once upon a time there was a child named @Model.GetName()</p>
      <p>When @Model.GetName() was @Model.GetAge().</p>
      <p>@Model.GetName() grew up in the magical land of @Model.GetPlace().</p>
      <p@Model.GetName()'s favorite acitivity was @Model.GetAction().</p>
      <p>Because of this @Model.GetName() was very @Model.GetAdjective()</p>
  </body>
</html>
